*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
html{
    scroll-behavior: smooth;
}


body{
    margin: 0% auto;
}
#main{
    /* height: 500px; */
    background-image: url("./images/Ray+Romano+Loft+renovation+nyc+brooklyn+hamptons+luxury+construction.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#main2{
    background-image: url("./images/Ray+Romano+Contracting+combination+renovation+luxury+contemporary+Upper+East+Side+NYC+Hamptons+Brooklyn+NJ.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#main3{
    background-image: url("./images/Ray+Romano+Hamptons+Sag+Harbor+renovation.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#main4{
    background-image: url("./images/1040.jfif");
    /* border: 0;
    overflow: clip;
    overflow-clip-margin: content-box; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
#main5{
    background-image: url("./images/Custom+Closet+Ray+Rompano+Contracting+NYC+Brooklyn+Upper+east+Side+NYC+renovation.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

.img{
    width: 100%;
    /* position: fixed; */
}
#img1{
    width: 100px;
    margin-top: 25px;
    margin-left: 80px;
}
.flex_nav{
    /* border: 2px solid; */
    /* height: 150px; */
    position: relative;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.flex{
    /* border: 2px solid; */
    width: 100%;
    height: 150px;
    margin-right: 50px;
    list-style: none;
    width: 620px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-evenly;
    cursor: pointer;
    font-size: .85em;
    font-style: normal;
    font-weight: 600;
    font-family:sproxima-nova;
}
.flex a{
    text-decoration: none;
}
#gray{
    color: lightgray;
}
.Roman{
    /* border: 2px solid; */
    /* width: 100%; */
    margin: 0% auto;
    padding-top: 50px;
    height: 563px;
    padding-left: 100px;
}
#roman{
    /* border: 2px solid; */
    width: 700px;
    margin-top: 50px;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 8px; 
    word-spacing: 8px;
    background-color: rgba(255,255,255,.6);
}
#roman1{
    /* border: 2px solid ; */
    margin-top: 15px;
    width: 830px;
    padding: 20px;
    word-spacing: 5px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(255,255,255,.6);
}
.arrow svg{
    width: 27px;
    fill: #fff;
    
}
.arrow{
    display: flex;
    justify-content: center;
    margin-top: 250px;
}
.arrow::after{
    content: 'Scroll Down';
    position:  absolute;
    bottom: 25px;
    color: #fff;
    display: none;
    

}
.arrow:hover::after{
    display: block;
}





.demo{
    /* height: 400px; */
    /* border: 2px solid; */
    padding-left: 250px;
    padding-top:100px;
}
.font{
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'poppins',sans-serif;
}
.font1{
    /* border: 2px solid; */
    margin-top: 30px;
    width: 970px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.space{
    /* border: 2px solid; */
    margin-top: 90px;
    height: 710px;
    padding: 40px 100px;
}
#fn{
    /* border: 2px solid; */
    width: 800px;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: rgba(255,255,255,.6);
}
#spc{
    height: 300px;
    /* border: 2px solid; */
    padding: 60px 250px;
}
.spcfont{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 25px;
}
.spfont{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#hhss{
    /* border: 2px solid; */
    margin-top: 130px;
    height: 715px;
    padding: 40px 100px;

}
.fontp{
    /* border: 2px solid; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    width: 200px;
    padding: 10px;
    letter-spacing: 5px;
    background-color: rgba(255,255,255,.6);

}
#chandu{
    height: 250px;
    /* border: 2px solid; */
    padding: 90px 250px;

}
.chfont{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 25px;
}
.anfont{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.testi{
    /* border: 2px solid; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    width: 310px;
    padding: 15px;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: rgba(255,255,255,.6);

}
#chandu1{
    /* border: 2px solid; */

    height: 300px;
    padding: 80px 250px;
}
.fontt{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    
}
.fontte{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.gallery{
    /* border: 2px solid; */
    padding: 13px;
    width: 180px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    /* text-overflow: ellipsis; */
    letter-spacing: 5px;
    background-color: rgba(255,255,255,.6);

}
.dsflex{
    /* border: 2px solid; */
    width: 1000px;
    margin-top: 80px;
    margin-left: 250px;
    position: relative;
    display: flex;
    /* justify-content: center; */
    /* margin-top: 100px; */
    justify-content: space-between;
}
.img_card{
    width: 100%;
}
.dsimg{
    /* border: 2px solid; */
    height: 200px;
    width: 300px;
}
.mg{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 12px;
}

#footer{
    border: 2px solid;
    width: 100%;
    /* height: 150px; */
    margin-top: 0px;
    margin-bottom: 80px;
    padding: 80px;
    display: flex;
    z-index: 1;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: #fff;
}

.footerdis{
    display: flex;
    /* border: 2px solid; */
    width: 200px;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    /* padding: 100px; */
}
.footerdis li{
    list-style: none;
    color: black;
}
.round{
    border-radius: 100%;
    height: 30px;
    border: 1px solid;
    width: 30px;
    background-color: #fff;
}
#roundle{
    margin-left: 7px;
}
.top{
  border: 2px solid #fff;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-left: 50%;
  text-align: center;
  position: relative;
  top: 30px;
  font-family: 'poppins',sans-serif;
  z-index: 1;
  /* color: #fff; */
  /* margin-top: 50px; */
  

}
.top a{
    text-decoration: none ;
}




